# Banco externo (fora do Docker Compose)
DATABASE_URL=postgresql://usuario:senha@host.docker.internal:5432/bella_pizza

# Backend
JWT_SECRET=sua_chave_jwt
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend
API_URL=http://backend:3333
NEXT_PUBLIC_API_URL=http://localhost:3333
